:root {
	--black: #0d0d0d;
	--white: #ffffff;
	--pink: #ba0cc5;
}

* {
	margin: 0;
	padding: 0;
	outline: 0;
}

section:first-child {
	background-color: var(--black);
	color: var(--white);
}

.navbar {
	display: flex;
	flex-direction: row;
}
.logo {
	height: 30px;
	padding: 15px 75px;
}

.line {
	border-left: 2px solid #ffffff;
	height: 40px;
	margin-top: 12px;
}
.grow-list {
	display: flex;
	flex-direction: row;
	flex-grow: 1;
	align-items: center;
}
.list {
	display: flex;
	flex-direction: row;
	list-style-type: none;
}
.list-item {
	margin-right: 50px;

	font-family: "Montserrat", sans-serif;
}
.list li:first-child {
	margin-left: 50px;
}

.list li:first-child::after {
	content: "";
	border: solid white;
	border-width: 0 3px 3px 0;
	display: inline-block;
	padding: 3px;
	transform: rotate(45deg);
	-webkit-transform: rotate(45deg);
	margin-left: 0.75rem;
}

.navbar div:nth-child(4) {
	margin: auto 75px;
}
.button-small {
	background-color: var(--pink);
	border: none;
	border-radius: 8px;
	padding: 10px 30px;
	font-family: "Poppins", sans-serif;
	font-weight: 600;
	color: var(--white);
}
.hero {
	background: linear-gradient(
			315deg,
			rgba(72, 84, 97, 0.5) 0%,
			rgba(40, 49, 59, 0.5) 74%
		),
		url("../assets/bg.png");
	font-family: "Montserrat", sans-serif;
	background-size: cover;
	background-position: center;
	height: 873px;
	text-align: center;
	color: var(--white);
}
.hero-heading {
	font-size: 80px;
	padding: 0 500px;
	padding-top: 200px;
}
.hero-description {
	font-size: 27px;
	margin-top: 10px;
}
.button-large {
	background-color: var(--pink);
	border: none;
	border-radius: 8px;
	padding: 10px 30px;
	font-family: "Poppins", sans-serif;
	font-size: 25px;
	font-weight: 600;
	color: var(--white);
	margin-top: 60px;
}
